@import url('./../../../styles/_variables.css');

tr.pseudoFooter td.left {
  width: calc(3 * 100% / 7);
  text-align: left;
  padding-left: 10px;
  border-right: 1px solid #ccc;
}

tr.pseudoFooter td.right {
  width: calc(4 * 100% / 7);
  text-align: center;
  padding-right: 10px;
}

tr td:last-child {
  border-right: 1px;
}

.subTotalHead {
  background-color: var(--theme-color);
  color: var(--text-color-light);
  font-weight: bold;
  line-height: 1;
  padding: 1rem;
}

.subTotalData {
  padding: 1rem;
}
