.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.header {
  position: sticky;
  top: 0;
  background-color: #b26d1e;
  color: #fff;
}

table.table th {
  border: 1px solid #fff;
  padding: 14px;
}

table.table .row > td {
  border: 1px solid #ddd;
  padding: 14px;
  align-content: center;
  text-align: center;
  min-width: 100px;
  vertical-align: middle;
}

.row td {
  &:nth-child(odd) {
    background-color: white;
  }

  &:nth-child(even) {
    background-color: #f8f8f8;
  }
}
