.table {
  border: 1px solid #ccc;
  border-spacing: 0px;

  .header {
    background-color: #b26d1e;
    color: #fff;
    font-weight: 700;

    .th {
      border: 1px solid #fff;
      padding: 8px 10px;
    }
  }

  .body {
    display: block;
    max-height: 90vh;
    overflow: auto;
  }

  .header,
  .body tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .row td {
    border: 1px solid #ccc;
    padding: 8px;
    overflow: hidden;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    color: #000;
    font-weight: 500;

    &:nth-child(odd) {
      background-color: white;
    }

    &:nth-child(even) {
      background-color: #f8f8f8;
    }
  }
}
